<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
        <img class="image" src="https://picsum.photos/1920/1080" draggable="false">
    </div>
    <script src="~/js/index.js"></script>
</body>
</html>

