@model StudentPortal.Models.AddSubjectViewModel

@* <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/add.css">
</head>
<body> *@
<div style="width: 80%; margin: auto;">
	<h1>Add Subject</h1>
	<form method="post">

		<div class="mt-3">
			<label class="form-label">Subject Code</label>
			<input type="text" class="form-control" asp-for="Code" />
		</div>

		<div class="mt-3">
			<label class="form-label">Description</label>
			<input type="text" class="form-control" asp-for="Description" />
		</div>

		<div class="mt-3">
			<label class="form-label">Units</label>
			<input type="text" class="form-control" asp-for="Units" />
		</div>

		<div class="mt-3">
			<label class="form-label">Offering</label>
			<input type="text" class="form-control" asp-for="Offering" />
		</div>

		<div class="mt-3">
			<label class="form-label">Category</label>
			<input type="text" class="form-control" asp-for="Category" />
		</div>

		<div class="mt-3">
			<label class="form-label">Status</label>
			<input type="text" class="form-control" asp-for="Status" />
		</div>

		<div class="mt-3">
			<label class="form-label">Course</label>
			<input type="text" class="form-control" asp-for="Course" />
		</div>

		<div class="mt-3">
			<label class="form-label">Curriculum</label>
			<input type="text" class="form-control" asp-for="Curriculum" />
		</div>

		<div class="mt-3">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>

@* </body>
</html> *@