@model StudentPortal.Models.Entities.EnrollmentHeader

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/addEnrollment.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
    <body>
        <div class="caption">
            Your academic hub | Connect with resources, manage your studies, and stay on top of important updates.
        </div>

         <div id="toast" class="toast position-fixed start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
            <div class="toast-header">
                <span id="toastSquare" class="rounded me-2 custom-toast-img" alt="Toast Image"></span>
                <strong class="me-auto" id="toastTitle">Complete!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastMessage"></div>
        </div>
        <input type="hidden" id="alertMessage" value="@ViewBag.AlertMessage">
        <input type="hidden" id="exceptionMsg" value="@ViewBag.ExceptionMsg">

        <div class="bg">
            <img class="bg-pic" src="https://i.imgur.com/kCquuKf.jpeg">
            <div class="stud-info-box">
                <img class="three-dots-icon" src="https://imgur.com/9GF3tPx.png">
                <div class="stud-info-wrapper">
                    <h1>Subject Enrollment</h1>
                    <h2>Let’s Start with Your ID Number</h2>
                    
                    <div class="mt-3">
                        <div class="row mt-3 align-items-center">
                            <div class="col-auto">
                                <label class="form-label">ID Number</label>
                            </div>
                            <div class="col text-end">
                                <div class="loader">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </div>
                                <span id="idNumberMessage" class="form-label label-message"></span>
                            </div>
                        </div>
                        <input type="number" class="form-control" placeholder="Enter your ID Number" required maxlength="15" id="idNumber" />
                    </div>
                    <div class="hidden-section">
                        <div class="mt-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control read-only" readonly id="studentName" />
                        </div>
                        <div class="row mt-3 small-margin-bottom">
                            <div class="col-md-6">
                                <label class="form-label">Course</label>
                                <input type="text" class="form-control read-only" readonly id="studentCourse" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Year</label>
                                <input type="text" class="form-control read-only" readonly id="studentYear" />
                            </div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <label class="proceed-label">Proceed</label>
                        <button type="button" class="black-btn" id="studInfoBtn"onclick="studButtonFunction()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="left-svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6" /></svg>
                            <span id="studBtnSpan">SUBMIT</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="enrollment-box">
                <img class="three-dots-icon" src="https://imgur.com/9GF3tPx.png">
                <div class="enrollment-wrapper">
                    <h1>
                        <svg xmlns="http://www.w3.org/2000/svg" class="enrollment-icon" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a10 10 0 1 0 10 10H12V2zM21.18 8.02c-1-2.3-2.85-4.17-5.16-5.18" /></svg>
                        Choose Your Class Schedule
                    </h1>
                    <h2>Pick from Available Time Slots</h2>

                    <div class="d-flex">
                        <div class="flex-2">
                            <div class="d-flex">
                                <div class="me-2"><label class="form-label">EDP Code</label></div>
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control edp-textbox" id="edpCode" placeholder="Enter EDP Code">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="add-btn" id="edpCodeBtn" onclick="edpCodeAddition()">
                                <span class="add-btn__text">Add</span>
                                <span class="add-btn__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                            </button>
                        </div>
                        <div>
                            <div class="d-flex small-padding-top">
                                <div><label class="form-label small-label">Total Units</label></div>
                                <div>
                                    <input type="text" class="form-control units-textbox" id="unitsTextBox" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form id="EnrollmentForm" asp-action="Add" asp-controller="Enrollment" method="post">
                        <input type="hidden" asp-for="StudId" id="hiddenIdInput">
                        <input type="hidden" asp-for="TotalUnits"  id="hiddenUnitsInput">
                        <div class="table-container">
                            <table class="enrollment-table">
                                <thead>
                                    <tr>
                                        <th>EDP Code</th>
                                        <th>Subject Code</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Days</th>
                                        <th>Room</th>
                                        <th>Units</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Placeholder row to indicate items will be added -->
                                    <tr class="placeholder-row">
                                        <td colspan="8">No subjects added yet. Enter EDP code to start adding.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex no-margin-top enrollment-bottom">

                            <div class="flex-grow-1">
                                <div class="d-flex small-padding-top">
                                    <div><label class="form-label small-label">Date</label></div>
                                    <div>
                                    <input type="date" asp-for="EnrollDate" class="form-control small-textbox" required>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 year-div">
                            <div class="d-flex small-padding-top">
                                    <div><label class="form-label small-label">School Year</label></div>
                                    <div>
                                        <input type="text" asp-for="SchoolYear" class="form-control small-textbox" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1 encoded-div">
                            <div class="d-flex small-padding-top">
                                    <div><label class="form-label">Encoded By</label></div>
                                    <div>
                                        <input type="text" asp-for="Encoder" class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="enrollmentBtn" class="black-btn enrollment-save-btn">SAVE</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <script src="~/js/addEnrollment.js"></script>
    </body>
</html>