body {
    width:100vw;
    height: 100vh;
    background-color: #fff;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

html {
    background-color: #fff;
}

.background-picture {
    position: absolute;
    left: 0;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.image {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

html {
    height: 100vh;
}

.content {
    z-index: 5;
    background-color: #fff;
    height: 100vh;
    width: 50vw;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.content-box {
    height: 80%;
    width: 80%;
}

.mt-3 {
    margin-left: 30px;
}

.content h1{
    font-size: 2rem;
    margin-left: 40px;
    margin-top:20px;
}

.form-control {
    margin-left: 40px;
    width: 80%;
    background-color: #d1dbf2;
}

.btn-container {
    text-align: right; 
    margin-right: 80px; 
    margin-top: 1rem; 
}

.btn-primary {
    margin-left: 35px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: #042f1a;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.btn-primary:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


