body {
    width: 100vw;
    height: auto;
    background: transparent;
    overflow-x: hidden;
}

html {
    height: auto;
    background: transparent;
}

.pattern-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #242527;
    --c3: #3c3c3c;
    background: repeating-conic-gradient(
        from 30deg, 
        #0000 0 120deg, 
        var(--c3) 0 180deg
    ) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577), 
    repeating-conic-gradient(
        from 30deg, 
        var(--c1) 0 60deg, 
        var(--c2) 0 120deg, 
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
    filter: blur(.6px); /* Blur only the background */
    transition: background 0.5s ease, filter 0.5s ease;
}


/*.whitish-bg {
    --c1: #f0f0f0;
    --c2: #e0e0e0;
    --c3: #d0d0d0;
}*/

.caption {
    z-index: 10000;
    position: fixed;
    height: 1.42rem;
    width: 100vw;
    background: #3b3b40;
    color: #dee7e3;
    font-weight: 300;
    text-align: center;
    font-size: 0.75rem;
}

.schedule-transition, .subj-transition {
    text-align: center;
    position: absolute;
    width: 27.5%;
    height: 100vh;
    background: transparent;
    transition: all 2s ease;
    display: none;
}

.schedule-transition {
    right: 0;
}

.subj-transition {
    left: 0;
}

.schedule-transition h1, .schedule-transition h2 {
    color: #ecece6;
    position: relative;
}

.subj-transition h1, .subj-transition h2 {
    color: #ecece6;
    position: relative;
}

.schedule-transition h1, .subj-transition h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 20%;
}

.schedule-transition h2, .subj-transition h2 {
    font-weight: 300;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
}

.transition-btn {
    right: 50%;
    transform: translateX(50%);
    background: transparent;
    position: absolute;
    bottom: 20%;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    transition: all 700ms;
    font-size: 15px;
    overflow: hidden;
    outline: 2px solid #fff;
}

.transition-btn:hover {
    color: #121313;
    transform: translateX(50%) scale(1.1);
    outline: 2px solid #1a1a1a;
    box-shadow: 4px 5px 17px -4px #e7fcff;
}

.transition-btn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
    outline: 2px solid #fff;
}

.transition-btn:hover::before {
    width: 250%;
}

.transition-btn:focus {
    outline: 2px solid #fff; /* Ensure the outline remains when the button is focused */
    box-shadow: none; /* Optionally, control the box-shadow on focus as well */
}

.transition-btn:active {
    outline: 2px solid #fff;
}

.block-display {
    display: block;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%); /* Slow down at the end */
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%); /* Slow down at the end */

    }
}

@keyframes longSlideRight {
    0% {
    transform: translateX(0%);
    }

    100% {
        transform: translateX(120vw);
    }
}

@keyframes longSlideLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-120vw);
    }
}

.subj-content, .sched-content {
    position: absolute;
    width: 72.5%;
    height: auto;
    min-height: 100vh;
    padding-bottom: 50px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
}

.subj-content::-webkit-scrollbar, .sched-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.subj-content {
    display: none;
    transform: translateX(-100%);
    background: white;
    left: 0;
    box-shadow: inset -10px 0 15px -5px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.sched-content {
    display: none;
    transform: translateX(100%);
    overflow: auto;
    height: auto !important;
    right: 0;
    box-shadow: inset 10px 0 15px -5px rgba(0, 0, 0, 0.3);
    background-color: rgba(17, 24, 39, 1);
}

.three-dots-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: auto;
}

.sched-content .three-dots-icon {
    filter: brightness(0) invert(100%);
}

.subj-container, .sched-container {
    height: auto;
    position: absolute;
    width: 60%;
    margin: 4.5rem 0;
}

.subj-container {
    left: 15%;
}

.sched-container {
    padding-bottom: 100px;
    background-color: rgba(17, 24, 39, 1);
    height: auto;
    right: 15%;
}

.row {
    display: flex; /* Use Flexbox to create a row */
    justify-content: space-between; /* Space between columns */
}

.column {
    flex: 1; /* Each column takes equal space */
    margin-right: 10px; /* Add spacing between columns */
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.sched-container h1, .sched-container h2 {
    color: white;
}

.separator {
    width: 80%; /* Set the width to 80% */
    height: 2px; /* Set the height (thickness) of the line */
    background-color: gray; /* Set the color of the line */
    border: none; /* Remove the default border */
    margin: 10px auto; /* Center it and add vertical spacing */
}

.form-label {
    font-size: 0.9rem;
    display: block; /* Ensure the label takes the full width */
    text-align: left; /* Center the text */
    width: 100%;
    font-weight: 600;
}

.right-label {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 300;
    text-align: right;
    float: right;
}

.subj-container .form-label {
    color: #61615e;
}

.sched-container .form-label {
    color: #9ca3af;
}

.column .form-label {
    text-align: left;
}

.form-control, .form-select {
    background-color: #e7e8ec;
    width: 100%;
    border-radius: 10px;
}

.sched-container .form-control, .sched-container .form-select {
    background-color: #dfdfda;
    border: 2px solid #374151;
}

#SubjectCode {
    overflow: auto;
}

input.form-control:focus, select.form-select:focus {
    border-color: #4CAF50; /* Custom border color on focus */
    background-color: #f0f8ff; /* Custom background color on focus */
    color: #000; /* Custom text color */
    outline: none; /* Removes the browser's default focus outline (highlight) */
}

.mt-4 {
    text-align: center;
}

.submit-btn {
    margin-top: 30px;
    width: 40%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background: #22293c;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.sched-content .submit-btn {
    background: #a88cfc;
    color: rgba(17, 24, 39, 1);
    font-weight: 600;
}

.submit-btn span {
    position: relative;
    transform: translateX(-105%);
    left: 50%;
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.submit-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.submit-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit-btn:hover span {
    transform: translateX(10rem);
}

.submit-btn:active {
    transform: scale(0.95);
}

.submit-btn:focus {
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}