﻿body {
    overflow-x: hidden !important;
}

html {
    overflow-x: hidden;
}


#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-text {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.caption {
    position: relative;
    top: 0;
    left: 0;
    height: 1.42rem;
    width: 100vw;
    background: #3b3b40;
    color: #dee7e3;
    font-weight: 300;
    text-align: center;
    font-size: 0.75rem;
    border-bottom: 0.5px groove #a59eab;
}

.left-icon {
    user-select: none;
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(1);
    z-index: 1000;
    background: transparent;
    padding: 10px;
}

.right-icon {
    pointer-events: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(1);
    z-index: 1000;
    background: transparent;
    padding: 10px;
}

.left-icon, .right-icon {
    transition: all 0.4s ease;
}

.center-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% - 5px), -50%);
    filter: invert(1);
    z-index: 1000;
    background: transparent;
    padding: 10px;
    pointer-events: none;
    user-select: none;
}


.track-container {
    left: 0;
    position: relative;
    width: 100vw;
    background: #393a3c;
    height: calc(56vmin + 42px);
    border-bottom: 2px solid #00ffef;
}


#image-track {
    display: flex;
    gap: 2vmin;
    position: absolute;
    left: 50%;
    transform: translate(-27%,0);
    user-select: none;
    background-color: #282b2e;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

    #image-track .image {
        filter: brightness(60%);
        z-index: 1;
        user-select: none;
        width: 40vmin;
        height: 56vmin;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease;
    }


        #image-track .image:hover {
            transform: scale(.95);
        }

.close-btn {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 10000000;
    font-weight: 200;
    left: 2rem;
    top: 5rem;
    color: white;
    position: fixed;
    font-size: 1rem;
}

    .close-btn:hover {
        cursor: pointer;
        color: #cccccb;
    }

@keyframes slideIn {
    0% {
        opacity: 0.5;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#zoom-texts {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
    pointer-events: none;
    display: none;
}

.animate-text {
    animation: slideIn 0.5s ease-out forwards;
}

#zoom-text-addstud {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    z-index: 1000000;
    position: absolute;
    color: white;
    margin-right: 100px;
    left: 57%;
    top: 35%;
}


#zoom-text-students {
    text-align: center;
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    position: absolute;
    margin-left: 15%;
    width: 70%;
    z-index: 1000000;
    top: 35%;
    color: white;
}

#zoom-text-addsub {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    z-index: 1000000;
    position: absolute;
    color: white;
    margin-right: 100px;
    width: 60%;
    left: 10%;
    top: 37%;
}

.zoom-text-h1 {
    font-weight: 600;
    font-size: 3vw;
}

.zoom-text-h2 {
    font-weight: 400;
    font-size: 1.8vw;
}

.zoom-text-p {
    text-align: justify;
    font-weight: 300;
    font-size: 1vw;
}

.btn-in-zoom {
    position: relative;
    align-items: center;
    background-color: #FFFFFF;
    border: 0.2vw solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1vw 3vw 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1vw;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 4vw;
    padding: 0 calc(6vw - 0.1vw);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

    .btn-in-zoom:hover,
    .btn-in-zoom:focus {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: rgba(0, 0, 0, 0.65);
    }

    .btn-in-zoom:hover {
        transform: translateY(-1px);
    }

    .btn-in-zoom:active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
    }

.zoom-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000000001;
}

    .zoom-container > *:not(#zoom-text-addsub) {
        text-align: center;
    }

.zoomed-image {
    position: absolute;
    object-fit: cover;
    z-index: 100000;
    filter: brightness(60%);
    pointer-events: none;
    transition: top 0.5s ease, left 0.5s ease, width 0.5s ease, height 0.5s ease;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes textFadeToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-11%);
        opacity: 0;
    }
}

@keyframes textFadeToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(11%);
        opacity: 0;
    }
}

@keyframes textSlideToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes textSlideToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.intro-section {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.intro-texts {
    flex: 1;
    padding-left: 5.5vw;
}

    .intro-texts h1 {
        font-size: 2rem;
        color: #000;
        font-weight: bold;
    }

    .intro-texts h2 {
        font-size: 1.3rem;
        color: #262727;
        margin-top: 0.5rem;
    }

    .intro-texts p {
        font-size: 0.9rem;
        color: #333;
        line-height: 1.6;
        margin-top: 1rem;
    }

.intro-btn {
    display: flex;
    gap: 100px;
    padding-right: 5.2vw;
}

.intro-btn1 {
    align-items: center;
    background-color: #26262a; /* Light gray background */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
    box-sizing: border-box;
    color: #d3d5dd; /* White text color */
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .intro-btn1:hover {
        box-shadow: #68c3ea 0 0 0 3px, transparent 0 0 0 0;
        color: #fff;
    }

.intro-btn2:hover {
    background-color: #fff;
    color: #709fcf;
    box-shadow: #86c0d9 0 0 0 3px, transparent 0 0 0 0;
}

.intro-btn2 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    box-sizing: border-box;
    color: #18191a;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.featured-section {
    position: relative;
    width: 100vw;
    margin-top: 3rem;
    padding-top: 1.2rem;
    padding-bottom: 3rem;
    color: black;
    background-color: #f2f2f2;
    border-bottom: 2px solid #00ffef;
}

    .featured-section h1 {
        margin-top: 1rem;
        position: relative;
        font-weight: 600;
        text-align: center;
    }

.image-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.image-column {
    flex: 1;
    margin-top: 50px;
}

.bold-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
}

footer {
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
