* {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 100%;
    width: 100vw;
    position: relative;
    z-index: 10;
    padding: 0;
}



html {
    background-color: #151823;
}

body {
    width: 100vw;
    margin-bottom: 60px;
}

header, .navbar, .navbar-brand, .nav-link {
    z-index: 10000;
    background-color: #24252A;
    color: #edf0f1 !important;
}

.brand-text {
    font-weight: 200;
    padding-left: 20px;
    margin-right: -3px;
}

.brand-text-bold {
    font-weight: 600;
}

.navbar-brand {
    font-size: 1rem;
}

.nav-link {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 15px;
}

.navbar {
    box-shadow: 0 .8rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 0; 
}

header {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05) !important;
    height: 3.7rem;
    position: fixed;
    width: 100vw;
    border-bottom: 2px solid #00ffef !important;
}

.navbar-light {
    background-color: transparent;
}


.nav-link:hover {
    color: #858a8f !important;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link {
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    margin: 0 15px;
}


html {
    position: relative;
    min-height: 100%;
}
